In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
path = "https://en.wikipedia.org/wiki/List_of_best-selling_mobile_phones"

In [3]:
requests.get(path)
page = requests.get(path)

In [4]:
soup = BeautifulSoup(page.text, 'html')

In [5]:
info_table = soup.find_all('table')[1]

In [22]:
info_table

KeyError: 2

In [7]:
info_table.find_all('th')

[<th>Manufacturer
 </th>,
 <th>Model
 </th>,
 <th>Form factor
 </th>,
 <th>Smartphone?
 </th>,
 <th>Year
 </th>,
 <th colspan="2" data-sort-type="number">Graph (million units)
 </th>]

In [8]:
headers = info_table.find_all('th')

In [9]:
print(headers)

[<th>Manufacturer
</th>, <th>Model
</th>, <th>Form factor
</th>, <th>Smartphone?
</th>, <th>Year
</th>, <th colspan="2" data-sort-type="number">Graph (million units)
</th>]

In [10]:
headers = [head.text.strip() for head in headers]

In [11]:
print(headers)

['Manufacturer', 'Model', 'Form factor', 'Smartphone?', 'Year', 'Graph (million units)']

In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame(columns=headers)

In [14]:
df

Empty DataFrame
Columns: [Manufacturer, Model, Form factor, Smartphone?, Year, Graph (million units)]
Index: []

In [15]:
raw_data = info_table.find_all('tr')

In [16]:
for data in raw_data:
    print(len(data))

12
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
12
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
14
12
14
12
14
12
14
14
14
14
12
12
12
14
14
14
12

In [17]:
for row in raw_data:
    tds = row.find_all('td')

    if len(tds) == 7:
        selected_tds = tds[:5] + [tds[5]]
    else:
        selected_tds = tds
    individual_row = [tds.text.strip() for tds in selected_tds]
    if len(individual_row) == len(headers):
        df.loc[len(df)] = individual_row

In [18]:
df.tail(25)

,Manufacturer,Model,Form factor,Smartphone?,Year,Graph (million units)
98,Samsung,Galaxy Note 9,Touchscreen,Yes,2018,9.6[68]
99,Samsung,Galaxy A30,Touchscreen,Yes,2019,9.2[69]
100,Xiaomi,Redmi 8A,Touchscreen,Yes,2019,7.3[20]
101,Oppo,F1 Plus,Touchscreen,Yes,2016,7[72]
102,Xiaomi,Redmi 8,Touchscreen,Yes,2019,6.8[20]
103,Samsung,Galaxy J4+,Touchscreen,Yes,2018,6.4[73]
104,Apple,iPhone,Touchscreen,Yes,2007,6[74]
105,LG,Viewty (KU990),Bar,No,2007,5[75]
106,Samsung,Galaxy J6+,Touchscreen,Yes,2018,4.9[73]
107,Samsung,Samsung Galaxy S24 Ultra,Touchscreen,Yes,2024,4.9
108,Samsung,Samsung Galaxy Note 4,Touchscreen,Yes,2014,4.5[76]
109,Samsung,Samsung Galaxy A14 4G,Touchscreen,Yes,2023,4
110,Samsung,Galaxy A10s,Touchscreen,Yes,2019,3.9[73]
111,Samsung,Samsung Galaxy S23 FE,Touchscreen,Yes,2023,3.8
112,Samsung,Galaxy A30s,Touchscreen,Yes,2019,3.4[73]
113,Nokia,N-Gage,Taco,Yes,2003,3[5]
114,LG,G2,Touchscreen,Yes,2013,3[77][78]
115,LeTV,LeEco Le 1s,Touchscreen,Yes,2016,3[79][80]
116,Samsung,Samsung Galaxy A55,Touchscreen,Yes,2024,2.7
117,Samsung,Samsung Galaxy S24,Touchscreen,Yes,2024,2.4
118,Samsung,Samsung Galaxy A15 4G,Touchscreen,Yes,2023,2.2
119,Google,Pixel and Pixel XL,Touchscreen,Yes,2016,2.1[81]
120,Palm,Centro,Keyboard bar,Yes,2007,2[82]
121,Nokia,N97,Tilt slider,Yes,2009,2[5]
122,Samsung,Samsung Galaxy A05s,Touchscreen,Yes,2023,2

In [19]:
len(df)

123

In [20]:
len(raw_data)

124

In [23]:
df.to_csv(r'C:\Users\PC\OneDrive\Desktop\Work_docs\MobilePhones.csv', index = False)

In [28]:
manufacturer_table = soup.find_all('table')[4]

In [30]:
column_names = manufacturer_table.find_all('th')

In [32]:
column_names = [name.text.strip() for name in column_names]

In [34]:
print(column_names)

['Manufacturer', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015*', '2016*', '2017*', '2018*', '2019*', '2020*']

In [43]:
manu_df = pd.DataFrame(columns=column_names)

In [44]:
manu_df.head()

Empty DataFrame
Columns: [Manufacturer, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015*, 2016*, 2017*, 2018*, 2019*, 2020*]
Index: []

[0 rows x 30 columns]

In [47]:
manu_data = manufacturer_table.find_all('tr')

In [48]:
manu_data

[<tr>
 <th><b>Manufacturer</b>
 </th>
 <th><b>1992</b>
 </th>
 <th><b>1993</b>
 </th>
 <th><b>1994</b>
 </th>
 <th><b>1995</b>
 </th>
 <th><b>1996</b>
 </th>
 <th><b>1997</b>
 </th>
 <th><b>1998</b>
 </th>
 <th><b>1999</b>
 </th>
 <th><b>2000</b>
 </th>
 <th><b>2001</b>
 </th>
 <th><b>2002</b>
 </th>
 <th><b>2003</b>
 </th>
 <th><b>2004</b>
 </th>
 <th><b>2005</b>
 </th>
 <th><b>2006</b>
 </th>
 <th><b>2007</b>
 </th>
 <th><b>2008</b>
 </th>
 <th><b>2009</b>
 </th>
 <th><b>2010</b>
 </th>
 <th><b>2011</b>
 </th>
 <th><b>2012</b>
 </th>
 <th><b>2013</b>
 </th>
 <th><b>2014</b>
 </th>
 <th><b>2015*</b>
 </th>
 <th><b>2016*</b>
 </th>
 <th><b>2017*</b>
 </th>
 <th><b>2018*</b>
 </th>
 <th><b>2019*</b>
 </th>
 <th>2020*
 </th></tr>,
 <tr>
 <td>Alcatel
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>2,631,000
 </td>
 <td>6,967,000
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>,
 <tr>
 <td>Apple
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>2,300,000
 </td>
 <td>12,000,000
 </td>
 <td>24,889,000
 </td>
 <td>46,598,300
 </td>
 <td>89,263,200
 </td>
 <td>130,133,200
 </td>
 <td>150,785,900
 </td>
 <td>191,426,000
 </td>
 <td>225,850,600
 </td>
 <td>216,064,000
 </td>
 <td>214,924,400
 </td>
 <td>219,048,400
 </td>
 <td>219,475,100
 </td>
 <td>199,800,000
 </td></tr>,
 <tr>
 <td>BBK
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>72,408,600
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>,
 <tr>
 <td>Ericsson
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>15,914,000
 </td>
 <td>23,827,000
 </td>
 <td>29,785,000
 </td>
 <td>41,467,000
 </td>
 <td>26,956,000
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>,
 <tr>
 <td>HTC
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>24,688,400
 </td>
 <td>43,266,900
 </td>
 <td>32,121,800
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>,
 <tr>
 <td>Huawei
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>23,814,700
 </td>
 <td>40,663,400
 </td>
 <td>47,288,300
 </td>
 <td>53,295,100
 </td>
 <td>70,499,000
 </td>
 <td>104,094,700
 </td>
 <td>132,824,900
 </td>
 <td>150,534,300
 </td>
 <td>202,901,400
 </td>
 <td>240,615,500
 </td>
 <td>182,600,000
 </td></tr>,
 <tr>
 <td>Lenovo
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>45,284,700
 </td>
 <td>
 </td>
 <td>72,748,200
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>,
 <tr>
 <td>Lenovo/Motorola
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>84,029,000
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>,
 <tr>
 <td>LG
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>26,213,700
 </td>
 <td>42,276,800
 </td>
 <td>54,924,600
 </td>
 <td>61,986,000
 </td>
 <td>78,576,300
 </td>
 <td>102,555,400
 </td>
 <td>122,055,300
 </td>
 <td>114,154,600
 </td>
 <td>86,370,900
 </td>
 <td>58,015,900
 </td>
 <td>69,024,500
 </td>
 <td>76,096,000
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>55,900,000
 </td>
 <td>40,800,000
 </td>
 <td>29,200,000
 </td>
 <td>
 </td></tr>,
 <tr>
 <td>Micromax
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>37,094,000
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>,
 <tr>
 <td>Microsoft
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>185,660,000
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>,
 <tr>
 <td>Motorola
 </td>
 <td>4,000,000
 </td>
 <td>
 </td>
 <td>12,000,000
 </td>
 <td>
 </td>
 <td>60,000,000
 </td>
 <td>25,328,000
 </td>
 <td>32,319,000
 </td>
 <td>47,818,000
 </td>
 <td>60,094,000
 </td>
 <td>59,097,000
 </td>
 <td>64,640,000
 </td>
 <td>75,177,000
 </td>
 <td>104,124,000
 </td>
 <td>144,920,000
 </td>
 <td>209,251,000
 </td>
 <td>164,307,000
 </td>
 <td>106,590,000
 </td>
 <td>58,475,200
 </td>
 <td>38,553,700
 </td>
 <td>40,269,000
 </td>
 <td>33,916,300
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>,
 <tr>
 <td>NEC
 </td>
 <td>2,000,000
 </td>
 <td>
 </td>
 <td>6,000,000
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>,
 <tr>
 <td>Nokia
 </td>
 <td>3,000,000
 </td>
 <td>5,000,000
 </td>
 <td>9,000,000
 </td>
 <td>13,000,000
 </td>
 <td>18,000,000
 </td>
 <td>20,593,000
 </td>
 <td>37,374,000
 </td>
 <td>76,335,000
 </td>
 <td>126,369,000
 </td>
 <td>139,672,000
 </td>
 <td>151,422,000
 </td>
 <td>180,672,000
 </td>
 <td>207,231,000
 </td>
 <td>265,615,000
 </td>
 <td>344,916,000
 </td>
 <td>435,453,000
 </td>
 <td>472,315,000
 </td>
 <td>440,881,600
 </td>
 <td>461,318,200
 </td>
 <td>422,478,300
 </td>
 <td>333,938,000
 </td>
 <td>250,793,100
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>,
 <tr>
 <td>Oppo
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>85,299,500
 </td>
 <td>112,124,000
 </td>
 <td>118,837,500
 </td>
 <td>118,693,200
 </td>
 <td>111,800,000
 </td></tr>,
 <tr>
 <td>Others
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>248,189,000
 </td>
 <td>299,179,200
 </td>
 <td>488,569,300
 </td>
 <td>597,326,900
 </td>
 <td>587,399,300
 </td>
 <td>613,710,000
 </td>
 <td>629,360,000
 </td>
 <td>635,368,500
 </td>
 <td>682,314,300
 </td>
 <td>582,104,700
 </td>
 <td>566,249,000
 </td>
 <td>536,430,000
 </td>
 <td>454,800,000
 </td></tr>,
 <tr>
 <td>Panasonic
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>8,627,000
 </td>
 <td>13,397,000
 </td>
 <td>15,581,000
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>,
 <tr>
 <td>RIM
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>12,000,000
 </td>
 <td>23,000,000
 </td>
 <td>34,000,000
 </td>
 <td>47,451,600
 </td>
 <td>51,541,900
 </td>
 <td>34,210,300
 </td>
 <td>18,000,000
 </td>
 <td>8,000,000
 </td>
 <td>4,000,000
 </td>
 <td>2,000,000
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>,
 <tr>
 <td>Samsung
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>4,686,000
 </td>
 <td>17,687,000
 </td>
 <td>20,639,000
 </td>
 <td>28,234,000
 </td>
 <td>41,684,000
 </td>
 <td>54,475,000
 </td>
 <td>85,238,000
 </td>
 <td>103,754,000
 </td>
 <td>116,480,000
 </td>
 <td>154,541,000
 </td>
 <td>199,182,000
 </td>
 <td>235,772,000
 </td>
 <td>281,065,800
 </td>
 <td>313,904,200
 </td>
 <td>384,631,200
 </td>
 <td>444,444,200
 </td>
 <td>392,546,000
 </td>
 <td>320,400,000
 </td>
 <td>306,446,600
 </td>
 <td>321,263,300
 </td>
 <td>295,043,700
 </td>
 <td>296,194,000
 </td>
 <td>253,000,000
 </td></tr>,
 <tr>
 <td>Siemens
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>26,989,000
 </td>
 <td>29,753,000
 </td>
 <td>34,618,000
 </td>
 <td>43,754,000
 </td>
 <td>48,456,000
 </td>
 <td>28,591,000
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>,
 <tr>
 <td>Sony
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>37,595,700
 </td>
 <td>37,791,000
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>,
 <tr>
 <td>Sony Ericsson
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>93,414,500
 </td>
 <td>54,873,400
 </td>
 <td>41,819,200
 </td>
 <td>32,597,500
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>,
 <tr>
 <td>TCL
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>37,176,600
 </td>
 <td>49,531,300
 </td>
 <td>64,026,000
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>,
 <tr>
 <td>Vivo
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>99,684,800
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>,
 <tr>
 <td>Xiaomi
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>56,529,000
 </td>
 <td>65,618,600
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>122,387,000
 </td>
 <td>126,049,200
 </td>
 <td>145,800,000
 </td></tr>,
 <tr>
 <td>Yulong
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>32,601,400
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>,
 <tr>
 <td>ZTE
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>28,768,700
 </td>
 <td>56,881,800
 </td>
 <td>67,344,400
 </td>
 <td>59,898,800
 </td>
 <td>53,910,000
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td></tr>,
 <tr>
 <td><b>Total</b>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td>
 </td>
 <td><b>107,818,000</b>
 </td>
 <td><b>162,856,000</b>
 </td>
 <td><b>283,581,000</b>
 </td>
 <td><b>412,731,000</b>
 </td>
 <td><b>399,583,000</b>
 </td>
 <td><b>423,418,500</b>
 </td>
 <td><b>519,985,500</b>
 </td>
 <td><b>674,001,900</b>
 </td>
 <td><b>816,562,900</b>
 </td>
 <td><b>990,862,500</b>
 </td>
 <td><b>1,152,839,800</b>
 </td>
 <td><b>1,222,245,200</b>
 </td>
 <td><b>1,211,236,600</b>
 </td>
 <td><b>1,596,802,400</b>
 </td>
 <td><b>1,774,564,100</b>
 </td>
 <td><b>1,746,175,600</b>
 </td>
 <td><b>1,806,964,700</b>
 </td>
 <td><b>1,878,968,000</b>
 </td>
 <td><b>1,423,900,300</b>
 </td>
 <td><b>1,495,358,000</b>
 </td>
 <td><b>1,536,535,500</b>
 </td>
 <td><b>1,555,267,000</b>
 </td>
 <td><b>1,540,657,000</b>
 </td>
 <td>1,347,900,000
 </td></tr>]

In [49]:
for data in manu_data:
    row = data.find_all('td')
    individual_row = [td.text.strip() for td in row]
    if len(individual_row) == len(column_names):
        cleaned_row = [val if val else None for val in individual_row]
        manu_df.loc[len(manu_df)] = cleaned_row

In [50]:
manu_df.head()

,Manufacturer,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2011,2012,2013,2014,2015*,2016*,2017*,2018*,2019*,2020*
0,Alcatel,None,None,None,None,"2,631,000","6,967,000",None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,Apple,None,None,None,None,None,None,None,None,None,...,"89,263,200","130,133,200","150,785,900","191,426,000","225,850,600","216,064,000","214,924,400","219,048,400","219,475,100","199,800,000"
2,BBK,None,None,None,None,None,None,None,None,None,...,None,None,None,None,"72,408,600",None,None,None,None,None
3,Ericsson,None,None,None,None,"15,914,000","23,827,000","29,785,000","41,467,000","26,956,000",...,None,None,None,None,None,None,None,None,None,None
4,HTC,None,None,None,None,None,None,None,None,None,...,"43,266,900","32,121,800",None,None,None,None,None,None,None,None

In [51]:
len(manu_df)

28

In [53]:
manu_df.to_csv(r'C:\Users\PC\OneDrive\Desktop\Work_docs\MobilePhones2.csv', index = False)